.cards{
    background: rgb(27, 26, 26);
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(36, 35, 35, 0.2);
    margin: 2% ;;
   
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
@keyframes appear
{
    from{
        opacity: 0;
     scale: 0.5;
    }
    to{
        opacity: 1;
     scale: 1;
    }
}
.cards:hover{
    transform: scale(1.1);
    transition: all 0.4s;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    margin-bottom: 40px;
}
.search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}
.search-container input {
   padding: 10px;
   background: white;
    font-size: 17px;
    border: none;
    width: 80%;
 height: 100%;
 border-radius: 8px;
}
.search-container button {
height: 100%;
border-radius: 8px;
    padding: 10px;
    margin-top: 8px;
    background: #333;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
    margin: 8px 5px;
}
.search-container button:active {
    transition: all 0.4s;
    background: #ddd;
    color: black;
}
.Logo{

display: flex;
align-items: center;
width: 100%;
justify-content: center;

}
.image img
{
    height: 100%;
    width: 100%;
    border-radius: 11px;
}
.image {
    background: white;
    height: 100%;
    width: 100%;
    border-radius: 18% ;
}
.btn-shine{
 
  color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap; 
}
@keyframes shine{
    0%{ background-position: 0}
   
  60%
   { background-position: 180px}
  100%
    {background-position: 180px}
}



