
*{
    margin: 0%;
    padding: 0%;
}
nav{
    background: #000;
    width: 100%;
    
    min-width: 100%;

}
a{
    text-decoration: none;
    color: aliceblue;
}
nav ul {
    display: flex;
    justify-content: start;
    padding-left: 10%;
}
nav ul li:nth-last-child(1)
{
    margin-left: auto;
    margin-right: 20px;
}

nav ul li {
    margin: 0 2%;
    color: aliceblue;
    list-style: none;
    padding: 20px;
    
}
nav ul li:hover, :focus{
    background: rgb(239, 238, 238);
    color: black;
    transition:  all ease-in-out 400ms;
}